<div class="row">
  <article class="span12">
    <h3>Videos</h3>
  </article>
  <div class="clear"></div>
  <p id="notice"><%= notice %></p>
  <ul class="thumbnails thumbnails-1 list-services">

    <% @videos.each do |video| %>
      <li class="span4">
      <div class="thumbnail thumbnail-1"> 
        <%= video_tag [video.movie.url(:mp4), type: "video/mp4"],[video.movie.url(:webm), type: "video/webm"], :size => "320x240", :controls => true %>
        <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
          <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
        </section>
      </div>
      <%= link_to 'Show', video %>
      <%= link_to 'Edit', edit_video_path(video) %>
      <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>

  </ul>
</div>

<%= link_to 'New Video', new_video_path %>
<br>