<!DOCTYPE html>
<html>
<head>
  <title>Upload Video</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<div class="spinner"></div>-->
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<%= render :partial => "layouts/header" -%>
<!--============================== content =================================-->
  <div class="bg-content"> 
   <div id="content">
    <div class="container">
       <%= yield %>
    </div>
  </div>
  </div>

<%= render :partial => "layouts/footer" -%>
</body>
</html>
